.container {
  position: relative;
  height: 100px;
  background-color: coral;
}

.one {
  position: relative;
  z-index: 2;
  background-color: cornflowerblue;
  padding: 10px;
  width: 200px;
}

.two {
  position: absolute;
  z-index: 1;
  background-color: crimson;
  top: 10px;
  left: 40px;
  width: 200px;
  padding: 20px;
}
